/* Global style */
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    font-weight: 400;
}
ol, ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
h2, h3{
    color: #2E2F42;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0;
    border: 5px dashed red; /* delete after code review*/
}
section{
    padding-top: 120px;
    padding-bottom: 120px;
}
/* HEADER ------------------------------- */
.navigation-bar-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}
.navigation-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 76px;
    margin-right: 332px;
}
.address-info{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding: 0;
}
.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
    padding: 24px 15px;
}
.logo-web{
        font-family: "Raleway", sans-serif;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.17;
            color: #4d5ae5;
            letter-spacing: 0.03em;
           

}
.logo-studio{
        color: #2e2f42;
}
.navigation-bar-item{
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.navigation-bar-item:hover,
.navigation-bar-item:focus,
.navigation-bar-item:active{
    color: #404bbf;
}
.address{
        font-style: normal;
}
.address-info-item{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
}
.address-info-item:hover,
.address-info-item:focus{
    color: #404bbf;
}
/* HEADER ---------------------------------*/
/*HERO-IMAGE-SECTION---------------------------------*/
.hero-image{
    background-color: #2E2F42;
    height: 600px;
}
.hero-image-title{
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        width: 496px;
        height: 120px;
}
.button{
    font-family: 'Roboto', sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer; /* Change cursor's type */
    border: none;
    border-radius: 4px;
    padding: 16px 32px; 
    width: 169px;
    height: 56px;
}
.button:hover,
.button:focus,
.button:active{
    background-color: #404bbf;
}
/*HERO-IMAGE-SECTION---------------------------------*/
/* FEATURES-SECTION ---------------------------------*/
.features-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.features-item-text{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
/* FEATURES-SECTION ---------------------------------*/
/* OUR-TEAM-SECTION ---------------------------------*/
.team{
    background: #f4f4fd;
}
.team-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
}
.team-item-list{
    background-color: #fff;
}
.team-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team-item-text{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
/* OUR-TEAM-SECTION --------------------------------------*/
/* OUR-PORTFOLIO-SECTION ---------------------------------*/
.portfolio-section-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
}
.portfolio-item-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.portfolio-item-text{
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #434455;
}
/* OUR-PORTFOLIO-SECTION ----------------------------------*/
/* FOOTER ---------------------------------*/
.footer{
    background-color: #2e2f42;
}
.footer-text{
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
.logo-studio-footer{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: #f4f4fd;
}
/* FOOTER ---------------------------------*/