/* Global style */
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    font-weight: 400;
}   
ol, ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
h2, h3{
    color: #2E2F42;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
section{
  padding: 120px 0;
}
/* HEADER ------------------------------- */
.top-line{
    border-bottom: 1px solid #e7e9fc;
}
.header-logo {
    margin-right: 76px;
    display: inline-block;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4d5ae5;
    letter-spacing: 0.03em;
}

.logo-studio {
    color: #2e2f42;
}
.navigation-bar-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}
.navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 76px;
}
.navigation-bar-item {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.navigation-bar-item:hover,
.navigation-bar-item:focus,
.navigation-bar-item:active {
    color: #404bbf;
}
.address-info{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    justify-content: space-between;
}
.address{
        font-style: normal;
}
.address-info-item{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        padding: 24px 0;
}
.address-info-item:hover,
.address-info-item:focus{
    color: #404bbf;
}
/* HEADER ---------------------------------*/
/*HERO-IMAGE-SECTION (1S)---------------------------------*/
.hero-image{
    background-color: #2E2F42;
    padding: 188px 0;
}
.hero-image-title{
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto 48px;
}
.button{
    font-family: 'Roboto', sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer; /* Change cursor's type */
    border: none;
    display: block;
    border-radius: 4px;
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
}
.button:hover,
.button:focus,
.button:active{
    background-color: #404bbf;
}
/*HERO-IMAGE-SECTION---------------------------------*/
/* FEATURES-SECTION (2S) ---------------------------------*/
.features-item{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-item-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 264px;
}
.features-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.features-item-text{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
/* FEATURES-SECTION ---------------------------------*/
/* OUR-TEAM-SECTION (3S) ---------------------------------*/
.team{
    background: #f4f4fd;
}
.team-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;

}
.team-list{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.team-item-list{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-item-images{
    display: block;
}
.team-information{
    padding: 32px 0;
}
.team-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.team-item-text{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
/* OUR-TEAM-SECTION --------------------------------------*/
/* OUR-PORTFOLIO-SECTION (4S) ---------------------------------*/
.portfolio-section-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.portfolio-list {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
row-gap: 48px;
column-gap: 24px;
}
.portfolio-list-item {
width: calc((100% - 48px) / 3);
}
.portfolio-item-description{
    border: 1px solid #e7e9fc;
    border-top: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 32px 16px;
}
.portfolio-item-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.portfolio-item-images{
    display: block;
}
.portfolio-item-text{
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #434455;
}
/* OUR-PORTFOLIO-SECTION ----------------------------------*/
/* FOOTER ---------------------------------*/
.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-text{
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
.footer-logo{
    margin-bottom: 16px;
    display: inline-block;
}
.footer-text{
    max-width: 264px;
}
.logo-studio-footer{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: #f4f4fd;
}
/* FOOTER ---------------------------------*/